.countdown-container {
  font-family: 'Cinzel', serif;
  background-color: #B44A33;
  display: inline-block;
  /* background: url('/african-pattern.svg') no-repeat center; */
  background-size: cover;
  padding: 2rem;
  color: #D4A437;
  text-align: center;
}
.countdown {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 2.5rem;
}
.unit span {
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
}
.unit p {
  font-size: 1rem;
  margin-top: 0.25rem;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
}
.separator {
  font-size: 2.5rem;
  color: #B44A33;
}
@media (min-width:200px) and (max-width:700px) {
  .separator{
    display: none;
  }
  .countdown-container {
    padding: 1rem;
  }
  .countdown {
    /* flex-direction: column; */
    font-size: 1.5rem;
  }
  .unit span {
    font-size:2rem;
  }
  .unit p {
    font-size: 0.8rem;
  }
}