@import "tailwindcss";

*{
    font-family:system-ui, Avenir, Helvetica, Arial, sans-serif;
    overflow-x:hidden;
   
}

.themchiefeofthenbud{
    background: url(../public//images/thmerrrr.jpg);
    opacity: 0.9;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
nav{
   background-color:rgba(61, 27, 2, 0.92);
    position: relative;

   /* width: full; */
}

nav li{
    color:yellow;
     font-family: "Crimson Text", serif;
  font-weight: 400;
  position: relative;
  /* left:10px; */
  /* width: 100%; */
}
nav h1{
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;

}
.seconnav{
    display: none;
}
.FirstMaliSub1{
     background: linear-gradient(3deg, #f2dc96, #d99861, #c48d62);
  padding: 20px;
  transform: rotate(1deg);
}
.FirstMaliSub1 h3{
    text-wrap: nowrap;
    font-family: "Cinzel", serif;
}
.FirstMali h1{
     font-family: "Cinzel", serif;
    line-height:100px;
}
.FirstMali h1 span{
    font-family: "Cinzel", serif;
}
.FirstMaliSub2 p,button{
    font-family: "Cinzel", serif;
}
.FirstMaliSSsub1{
    background-color: rgba(251, 228, 198, 0.867);
}
.firstofthemh3333{
    background: linear-gradient(3deg, #f2dc96, #d99861, #c48d62);
   padding:10px 40px;
  transform: rotate(-2deg);
  display: inline-block;
}
.firstofthemh3333,h3{
    font-family: "Cinzel", serif;
}
.FirstMaliSSsub1-Sub1{
    margin: 60px;
}
.FirstMaliSSsub1-Sub1 p{
   font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}
.FirstMaliSSsub1-Sub1-min1{
    margin: 100px 0;
}
.firstsegofheadd{
  background: linear-gradient(3deg, #f2dc96, #d99861, #c48d62);
  padding:10px 40px;
  transform: rotate(2deg);
  display: inline-block;
}

/* The footer section */
footer{
    cursor: pointer;
    border:18px solid rgb(255, 166, 0) ;
    background-color:rgb(106, 47, 5);
}
.FirstMaliSSsub3-Sub2 p{
      transition: .4s linear;
        color: rgba(147, 86, 15, 0.923);
}
.FirstMaliSSsub3-Sub3 h3{
    transition: .4s linear;
    color: rgba(147, 86, 15, 0.923);
}
  .FirstMaliSSsub3-Sub2 p:hover{
        /* color: yellow; */
     }
 .FirstMaliSSsub3-Sub3 h3:hover{
        /* color: yellow; */
    }
@media (min-width:200px) and (max-width:800px){
    nav{
        display: none !important;
    }
    .seconnav{
        display: block;
    }
    .FirstMali h1{
        font-size: 80px;
    }
    .FirstMaliSub1{
        width: 90% !important;
        position: relative;
        left:15px;
    }
    .FirstMaliSub2 p{
        width: 80% !important;
        left: 40px !important;
    }
    .FirstMaliSub3{
        width: 50%;
        left:100px;
    }

    /* the styling forr the second side */
    .firstofthemh3333{
        padding:20px 10px;
        font-size:30px;

    }
    .firstsegofheadd{
        position: relative;
        left:-20px !important;
    }
    .firstsegofheadd h3{
        position: relative;
        /* left: 20px; */
        font-size: 25px !important;
        text-wrap: nowrap;
       padding: auto 50px !important;
    }
    .mainsubfofSSubdu p{
        width: 80%;
        margin:20px  0px !important;
        position: relative;
        left:35px;
    }
    /* this style is for card section info area */
    .FirstMaliSSsub1-Sub1 {
        /* text-wrap: nowrap; */
        left:10px !important;
    }
    .FirstMaliSSsub1-Sub1-min1{
        display: grid;
        /* flex-direction: column !important; */
        /* margin: 10px 0; */
    }
    .FirstMaliSSsub1-Sub1-min1 img{
        margin:50px 10px;
    }
    .papdivsdddd{
        width: 100%  !important;
    }
    .FirstMaliSSsub1-Sub1-min1 li{
        font-size: 15px;
        text-wrap:nowrap ;
    }
    .papdivsddddbtn{
        width:50% !important;
    }
    .FirstMaliSSsub1-Sub1-min1 p{
        width: 100% !important;
        
    }
    /* this style if for the fotter section */
    .FirstMaliSSsub3-Sub1{
        cursor: pointer;
        grid-template-columns: repeat(1,1fr) !important;
        gap: 80px !important;

    }
    .FirstMaliSSsub3-Sub2 p{
        font-size: 20px;
        width: 80% !important;
        transition: .4s linear ;
        /* color: yellow; */
    }
     .FirstMaliSSsub3-Sub2 p:hover{
        color: yellow;
     }
    .FirstMaliSSsub3-Sub3 h3{
        transition: .2s linear ;
        font-size: 20px !important;
        margin-bottom: 10px;
    }
    .FirstMaliSSsub3-Sub3 h3:hover{
        color: yellow;
    }
    .Secontolastfott h3{
        font-size: 25px;
    }
    .Secontolastfott p{
        font-size: 15px;
    }
    .lastofthemall{
        gap: 10px !important;
        display: flex;
        flex-direction: column ;
        margin: 40px 20px !important;
        color: rgb(255, 200, 0);
    }
}


/* This style is for the Festival Drumbeat page */
.FirstMaliSSsub3-Sub2-Content1 h1{
  text-align: center;
  font-size: 60px;
  font-weight: 900;
font-family: "Crimson Text", serif;

}
.FirstMaliSSsub3-Sub2-Content1{
    background: linear-gradient(rgb(133, 47, 7), #d99861);
}
.FirstMaliSSsub3-Sub2-Content1 h3{
    color:rgb(249, 198, 126);
}
.FirstMaliSSsub3-Sub2-Content1 p{
    color: black;
    background-color: #e3cebe;
    display: inline-block;
   
}
.Firtsparolunderthecontent1{
    text-align: center;
    font-family: "Crimson Text", serif;
    padding:10px 40px;
    background-color: #c48d62;
    display: inline-block;
    position: relative;
    left:38%;
    /* align-items: center; */
}

.SecondPhaseofcontainer p{
    font-family: "Crimson Text", serif;
    /* font-size: 15px; */
}


.closetothefootofhtedress p{
       font-family: "Crimson Text", serif;
}   