.firstsetofthefeatsfest{
     margin: 40px;
}
.firstsetofthefeatsfest p{
    width: 80%;
    position: relative;
    left:15%;
      font-family: "Crimson Text", serif;
      font-size: 20px;
     
}
.firstsetofthefeatsfest h3{
    font-size: 30px;
}

.firstsetofthefeatsfestsub1{
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
.firstsetofthefeatsfestsub1 .icon{
    font-size: 30px;
}


/* different section */
.goldenLine{
    height: 2px ;
    width: 70px;
    background-color: gold;
    position: relative;
    top:10px;
}

/* This is another section */
.firstsetofthefeatsfestsub2cheife{
    margin: 40px;
}
.firstsetofthefeatsfestsub2{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
}
.firstsetofthefeatsfestsub2 h3{
    font-size: 25px;
}
.firstsetofthefeatsfestsub2 p{
    font-weight: 200;
     /* font-family: "Crimson Text", serif; */
}

/* This is another section */
.firstsetofthefeatsfestSub33{
    background-color: red;
    margin: 10px 60px;
    padding: 50px;
    border-radius: 20px;
}
.firstsetofthefeatsfestSub33-Sub1{
    width: 80%;
    position: relative;
    left: 10%;
    top:-40px;
}

.firstsetofthefeatsfestSub33-Sub2{
    display: flex;
    gap: 20px;
    background-color: antiquewhite;
    padding: 10px ;
    border-radius: 10px;
}
.firstsetofthefeatsfestSub33-Sub2 h3{
    font-size: 20px;
    font-weight:600;
}
.firstsetofthefeatsfestSub33-Sub2 .icon{
    position: relative;
    top: 10px;
}

/* This is another section */
.firstsetofthefeatsfestSub44{
    padding: 15% 10%;
    
}
.firstsetofthefeatsfestSub44-Sub1{
    margin: 10px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius:10px;
}
.firstsetofthefeatsfestSub44-Sub1 h3{
    font-weight: 500 !important;
    font-size: 20px;
}
@media (min-width:200px) and (max-width:700px){
    .THefirstoftjefesrtivaldjfjf{
        flex-direction: column;
        left:10px;
         overflow: hidden !important;
       
    }
    .THefirstoftjefesrtivaldjfjf p{
        width: 80%;
    }
    .granddcentral{
        padding: 10px;
        top: 40px;
        margin-bottom: 90px;
        width: 90%;
    }
    .granddcentral h3{
        font-size: 20px;
    }
    .granddcentral1{
        font-size: 30px;
    }
    .granddcentral2{
        position: relative;
        
        left: 20px;
    }
    .firstsegofheaddwalk{
        position: relative;
        left:5px !important;
    }
    .firstsetofthefeatsfest{
        grid-template-columns: repeat(1,1fr);
    }
    .firstsetofthefeatsfestsub2cheife{
        grid-template-columns: repeat(2,1fr);
    }
    .firstsegofheaddGEneral{
        grid-template-columns: repeat(1,1fr);
    }
    .firstsetofthefeatsfestSub33{
        width:90% ;
        left:-45px;
        position: relative;
        
    }
    .firstsetofthefeatsfestSub33-Sub1{
        /* width: 100% !important; */
    }
    .thridphaseofthemsections{
        grid-template-columns: repeat(1,1fr);
    }
}